# Caprese
#
# (c) 2023 Caprese Project
#
# This project is released under the MIT License.
# See https://github.com/caprese-project/caprese/blob/master/LICENSE

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
