# Caprese
#
# (c) 2023 Caprese Project
#
# This project is released under the MIT License.
# See https://github.com/caprese-project/caprese/blob/master/LICENSE

build/
tmp/

.cache/
.vscode/

.gdbinit
