* text=auto

.clang-format text eol=lf
.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf

LICENSE text eol=lf
README.md text eol=lf

*.S text eof=lf
*.ldS text eof=lf
*.c text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.txt text eol=lf
